.header-container{
    background-color:#e96a7e;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
   
    
}

.logoP{
    height: 45px;
    width: 45px;

}
